* {
    margin: 0;
    font-family: 'Source Sans Pro';
}

/* sobre mi */
.sobre_mi {
    display: flex;
}

.sobre_mi-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 72px;
}

.sobre_mi-content {
    background: #fff;
    padding: 50px 18% 50px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sobre_mi-content>p {
    font-size: 15px;
    line-height: 24px;
}

.sobre_mi-content>h4 {
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    align-self: center;
}

.sobre_mi-icons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sobre_mi-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre_mi-icons>p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
}

/* info pago */
.info_pago {
    z-index: -2;
    position: relative;
    height: 272px;
    background: #C1E0DB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_pago-background {
    width: 95%;
    display: flex;
    position: absolute;
    justify-content: space-between;
}

.info_pago-messages-container {
    z-index: 1;
    display: flex;
    align-items: center;
}

.info_pago-puntos-marrones {
    z-index: -1;
    left: 45%;
    position: absolute;
    top: -50px;
}

.info_pago-bars {
    width: 4px;
    height: 60px;
    background: #1F1F1F;
    margin: 40px;
}

.info_pago-messages {
    margin-left: 10px;
}

.info_pago-messages>h6 {
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
}

.info_pago-messages>p {
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
}

/* contacto */
.contacto {
    position: relative;
    padding: 60px 0;
    align-items: center;
    background: #FACAAC;
    display: flex;
    justify-content: flex-end;
}

.contacto-title {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 58px;
    line-height: 72px;
    margin-bottom: 40px;
}

.contacto-formulario-container {
    margin-right: 7%;
    z-index: 1;
}

.contacto-formulario>p {
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
}

.input-group>input {
    border: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 0 15px;
    width: 240px;
    height: 48px;
    background: #F5F5F5;
    margin: 10px 20px 10px 0;
}

.input-group>input:focus {
    outline: 0;
}

.contacto-formulario>textarea {
    border: 0;
    font-size: 17px;
    line-height: 24px;
    padding: 15px;
    width: 533px;
    height: 70px;
    background: #F5F5F5;
    margin: 10px 0;
}

.contacto-formulario>textarea:focus {
    outline: 0;
}

.checkbox-group {
    display: flex;
    margin-bottom: 10px;
}

.checkbox-group>input {
    width: 14px;
    margin-right: 10px;
}

.checkbox-group>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.contacto-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contacto-button-container>button {
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.25px;
    background: none;
    border: 2px solid #1F1F1F;
    border-radius: 5px;
    padding: 5px 12%;
    cursor: pointer;
    transition: 0.3s;
}

.contacto-button-container>button:hover {
    transform: scale(1.05);
}

.contacto-imgs {
    z-index: 1;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.contacto-backgorund-image {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.contacto-background-icons {
    position: absolute;
    display: flex;
    align-items: center;
    left: 30px;
}

.contacto-background-icons>img {
    position: absolute;
}

.puntos-contacto {
    z-index: 1;
}

/* footer */
.footer-logo {
    width: fit-content;
    height: fit-content;
}

.footer {
    display: flex;
    justify-content: space-around;
    background: #1F1F1F;
    padding: 35px 5%;
}

.footer-links {
    color: #F8F8F8;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links>h5 {
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
}

.footer-links>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #F8F8F8;
    transition: 0.3s;
}

.footer-links>a:hover {
    transform: scale(1.05);
}

.footer-links>a>svg {
    margin-right: 5px;
}

.news-letter {
    color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.news-letter>h6 {
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
}

.news-letter>p {
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    margin: 10px 0;
}

.news-letter>input {
    width: 442px;
    height: 40px;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 0 15px;
    background: #F5F5F5;
}

.news-letter>input:focus {
    outline: 0;
}

.news-letter>button {
    align-self: flex-end;
    background: none;
    border: 2px solid #F8F8F8;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 3px 15%;
    color: #F8F8F8;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.news-letter>button:hover {
    transform: scale(1.05);
}

@media (max-width: 1400px) and (min-width: 1144px) {
    .sobre_mi-content {
        padding: 5% 7%;
    }

    /* info pago */
    .info_pago {
        height: 200px;
    }

    .info_pago-messages>h6 {
        font-weight: 700;
        font-size: 17px;
        line-height: 28px;
    }

    .info_pago-messages>p {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }

    .info_pago-bars {
        width: 3px;
        margin: 20px;
    }

    /* contacto */
    .contacto {
        padding: 30px 0;
        justify-content: space-between;
    }

    .contacto-formulario-container {
        margin: 0 30px;
        z-index: 1;
    }

    .contacto-background-icons {
        display: none;
    }
}

@media (max-width: 1144px) and (min-width: 760px) {
    .sobre_mi-img {
        width: 50%;
    }

    .sobre_mi-title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
    }

    .sobre_mi-content {
        padding: 20px;
    }

    .sobre_mi-content>h4 {
        font-weight: 600;
        font-size: 17px;
        line-height: 28px;
        align-self: center;
    }

    .sobre_mi-content>p {
        font-size: 14px;
        line-height: 20px;
    }

    /* info pago */
    .info_pago {
        height: 150px;
    }

    .info_pago-puntos-marrones {
        z-index: -1;
        left: 45%;
        position: absolute;
        top: -20px;
    }

    .info_pago-messages-container {
        align-self: center;
        width: 25%;
        flex-direction: column;
    }

    .info_pago-messages {
        text-align: center;
        margin: 0;
    }

    .info_pago-messages>h6 {
        margin-top: 5px;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
    }

    .info_pago-messages>p {
        display: none;
    }

    .info_pago-bars {
        width: 3px;
        height: 60px;
        background: #1F1F1F;
        margin: 20px;
    }

    /* contacto */
    .contacto {
        justify-content: center;
    }

    .contacto-formulario-container {
        margin: 0;
    }

    .contacto-imgs {
        display: none;
    }

    .contacto-background-icons>img {
        width: 120px;
    }

    /* footer */
    .footer {
        padding: 35px 20px;
    }

    .footer-logo {
        width: 170px;
    }

    .footer-links>h5 {
        font-size: 20px;
        line-height: 30px;
    }

    .footer-links>a {
        font-size: 15px;
        line-height: 22px;
    }

    .news-letter>h6 {
        font-size: 20px;
        line-height: 28px;
    }

    .news-letter>p {
        font-size: 15px;
        line-height: 22px;
    }

    .news-letter>input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 860px) and (min-width: 760px) {
    .sobre_mi-title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
    }

    .sobre_mi-content>h4 {
        font-size: 15px;
        line-height: 22px;
        margin: 5px 0;
    }

    .sobre_mi-content>p {
        font-size: 13px;
        line-height: 18px;
    }
}

@media (max-width: 760px) {
    .sobre_mi {
        flex-direction: column;
    }

    .sobre_mi>img {
        display: none;
    }

    .sobre_mi-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 72px;
        align-self: center;
    }

    .sobre_mi-content {
        padding: 20px 16px;
    }

    .sobre_mi-content>h4 {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        margin: 20px 0;
    }

    .sobre_mi-icons>p {
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
    }

    /* info pago */
    .info_pago {
        background: #EEDBA8;
        height: auto;
        padding: 20px 0;
        align-items: start;
    }

    .info_pago-background {
        display: none;
    }

    .info_pago-messages-container {
        align-self: flex-start;
        width: 25%;
        flex-direction: column;
    }

    .info_pago-bars {
        width: 3px;
        height: 30px;
        background: #1F1F1F;
        margin: 10px;
    }

    .info_pago-messages {
        text-align: center;
        margin: 0;
    }

    .info_pago-messages>h6 {
        margin-top: 5px;
        font-size: 12px;
        line-height: 12px;
    }

    .info_pago-messages>p {
        display: none;
    }

    /* contacto */
    .contacto {
        padding: 0;
        flex-direction: column;
    }

    .contacto-title {
        font-size: 28px;
        text-align: center;
        margin-bottom: 0;
    }

    .contacto-formulario-container {
        margin-right: 0;
    }

    .contacto-formulario>p {
        margin-left: 5px;
        font-size: 12px;
    }

    .input-group {
        display: flex;
        flex-wrap: nowrap;
    }

    .input-group>input {
        font-size: 11px;
        line-height: 24px;
        width: 43%;
        height: 24px;
        padding: 0 4px;
        margin: 5px 5px;
    }

    .contacto-formulario>textarea {
        font-size: 11px;
        padding: 6px;
        margin: 5px;
        width: 92%;
        height: 88px;
    }

    .checkbox-group>input {
        width: 12px;
        margin: 0 5px;
    }

    .checkbox-group>p {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }

    .contacto-imgs {
        display: none;
    }

    .contacto-backgorund-image {
        display: none;
    }

    .contacto-background-icons {
        display: none;
    }

    .contacto-background-icons {
        display: none;
    }

    .contacto-button-container {
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    }

    .contacto-button-container>button {
        width: 97%;
        margin-right: 0;
        font-size: 13px;
        line-height: 20px;
        padding: 5px 0;
    }

    /* footer */

    .footer-logo {
        width: 160px;
        align-self: center;
        margin-bottom: 20px;
    }

    .footer {
        flex-direction: column;
        padding: 25px 16px;
    }

    .footer-links {
        height: auto;
        order: 2;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    }

    .footer-links>h5 {
        display: none;
    }

    .footer-links>a {
        margin: 0 15px;
    }

    .footer-links>a>p {
        display: none;
    }

    .news-letter>h6 {
        font-size: 19px;
        line-height: 28px;
    }

    .news-letter>p {
        font-size: 13px;
        line-height: 20px;
        margin: 0 0 10px 0;
    }

    .news-letter>input {
        width: 97%;
        height: 32px;
        padding: 0 5px;
        font-size: 11px;
    }

    .news-letter>button {
        font-size: 12px;
    }
}